/* Entry table legend */
.rectangle-orange {
  width: 50px;
  height: 20px;
  margin-top: 10px;
  margin-left: -40px;
  border: 1px solid #BCBCBC;
  background-color: #DEB200;
}

.rectangle-green {
  width: 50px;
  height: 20px;
  margin-top: 10px;
  margin-left: -100px;
  border: 1px solid #BCBCBC;
  background-color: #74BC8B;
}

.rectangle-red {
  width: 50px;
  height: 20px;
  margin-top: 10px;
  margin-left: -70px;
  border: 1px solid #BCBCBC;
  background-color: #FF7334;
}

.rectangle-red-space {
  width: 75px;
  height: 23px;
  margin-top: 10px;
  margin-left: 60px;
  border: 1px solid #BCBCBC;
  background-color: #FF7334;
}

.rectangle-blue {
  width: 50px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #BCBCBC;
  background-color: #80EBF3;
}

/* Style sequence display*/
.base-a { 
  color: black; 
  text-shadow: 0px 0px 4px red; 
}
.base-t { 
  color: black; 
  text-shadow: 0px 0px 4px green; 
}
.base-g { 
  color: black; 
  text-shadow: 0px 0px 4px blue; 
}
.base-c { 
  color: black; 
  text-shadow: 0px 0px 4px orange; 
}

.sequence { 
  font-family: monospace; 
  white-space: pre-wrap; 
  word-wrap: break-word;
  position: relative; 
  right: 160px;
}

.clipboard-button { 
  margin-left: 10px; 
  cursor: pointer; 
  border: none; 
  background: none;
}

#loci_sequences {
  color: white;
}

/* Scrollbar Styling */

*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: #282F38;
}

*::-webkit-scrollbar-thumb {
  background-color: #F0F0F0;
  border-radius: 10px;
  border: 2px solid #282F38;
  min-width: 100px;
  overflow-y: scroll;
} 

*::-webkit-scrollbar-corner {
  background: #F0F0F0;
}

.wtHolder::-webkit-scrollbar-track,
#logText::-webkit-scrollbar-track, 
#logTextFull::-webkit-scrollbar-track,
#screening_fail::-webkit-scrollbar-track,
.selectize-dropdown-content::-webkit-scrollbar-track,
#mst_comm_general_select::-webkit-scrollbar-track,
.sF-dirInfo>div::-webkit-scrollbar-track,
.sF-fileWindow::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div#bs-select-1::-webkit-scrollbar-track,
div#bs-select-2::-webkit-scrollbar-track,
div#bs-select-3::-webkit-scrollbar-track,
div#bs-select-4::-webkit-scrollbar-track,
div#bs-select-5::-webkit-scrollbar-track,
div#bs-select-6::-webkit-scrollbar-track,
div#bs-select-7::-webkit-scrollbar-track,
div#bs-select-8::-webkit-scrollbar-track,
div#bs-select-9::-webkit-scrollbar-track,
div#bs-select-10::-webkit-scrollbar-track,
div#bs-select-11::-webkit-scrollbar-track,
div#bs-select-12::-webkit-scrollbar-track,
div#bs-select-13::-webkit-scrollbar-track,
div#bs-select-14::-webkit-scrollbar-track,
div#bs-select-15::-webkit-scrollbar-track,
div#bs-select-16::-webkit-scrollbar-track,
div#bs-select-17::-webkit-scrollbar-track,
div#bs-select-18::-webkit-scrollbar-track,
div#bs-select-19::-webkit-scrollbar-track,
div#bs-select-20::-webkit-scrollbar-track,
div#bs-select-21::-webkit-scrollbar-track,
div#bs-select-22::-webkit-scrollbar-track,
div#bs-select-23::-webkit-scrollbar-track,
div#bs-select-24::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

#DataTables_Table_8_wrapper > div.dataTables_scroll > div.dataTables_scrollBody::-webkit-scrollbar-track,
.display .dataTable .no-footer::-webkit-scrollbar-track,
#DataTables_Table_8::-webkit-scrollbar-track,
.dataTables_scrollBody::-webkit-scrollbar-track,
div#gs_profile_table::-webkit-scrollbar-track,
#gs_profile_table::-webkit-scrollbar-track,
sF-fileWindow::-webkit-scrollbar-track,
.sF-fileWindow::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
  
.wtHolder::-webkit-scrollbar-thumb,
div#bs-select-1::-webkit-scrollbar-thumb,
div#bs-select-2::-webkit-scrollbar-thumb,
div#bs-select-3::-webkit-scrollbar-thumb,
div#bs-select-4::-webkit-scrollbar-thumb,
div#bs-select-5::-webkit-scrollbar-thumb,
div#bs-select-6::-webkit-scrollbar-thumb,
div#bs-select-7::-webkit-scrollbar-thumb,
div#bs-select-8::-webkit-scrollbar-thumb,
div#bs-select-9::-webkit-scrollbar-thumb,
div#bs-select-10::-webkit-scrollbar-thumb,
div#bs-select-11::-webkit-scrollbar-thumb,
div#bs-select-12::-webkit-scrollbar-thumb,
div#bs-select-13::-webkit-scrollbar-thumb,
div#bs-select-14::-webkit-scrollbar-thumb,
div#bs-select-15::-webkit-scrollbar-thumb,
div#bs-select-16::-webkit-scrollbar-thumb,
div#bs-select-17::-webkit-scrollbar-thumb,
div#bs-select-18::-webkit-scrollbar-thumb,
div#bs-select-19::-webkit-scrollbar-thumb,
div#bs-select-20::-webkit-scrollbar-thumb,
div#bs-select-21::-webkit-scrollbar-thumb,
div#bs-select-22::-webkit-scrollbar-thumb,
div#bs-select-23::-webkit-scrollbar-thumb,
div#bs-select-24::-webkit-scrollbar-thumb,
#logText::-webkit-scrollbar-thumb, 
#logTextFull::-webkit-scrollbar-thumb,
#screening_fail::-webkit-scrollbar-thumb,
.selectize-dropdown-content::-webkit-scrollbar-thumb,
#mst_comm_general_select::-webkit-scrollbar-thumb,
.sF-dirInfo>div::-webkit-scrollbar-thumb,
#DataTables_Table_8_wrapper > div.dataTables_scroll > div.dataTables_scrollBody::-webkit-scrollbar-thumb,
.display .dataTable .no-footer::-webkit-scrollbar-thumb,
#DataTables_Table_8::-webkit-scrollbar-thumb,
.dataTables_scrollBody::-webkit-scrollbar-thumb,
#gs_profile_table::-webkit-scrollbar-thumb,
div#gs_profile_table::-webkit-scrollbar-thumb,
[id^="bs-select-"]::-webkit-scrollbar-thumb,
.sF-fileWindow::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border: 2px solid #F0F0F0;
  min-width: 100px;
  min-height: 100px;
}

/* Other */

#currentTime {
  padding: 50px;
  position: relative;
  top: 15px;
}

#statustext {
  position: absolute;
  top: 15px;
  left: 600px;
}

#databasetext {
  position: absolute;
  top: 15px;
  left: 900px;
}

#loaded_scheme {
  position: absolute;
  top: 15px;
  left: 150px;
  padding-right: 20px;
}

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  box-shadow: 0px 4px 5px #080c12;
}

.img_logo {
  margin-top: -3px;
}