/* Style sequence display*/
.base-a { color: black; text-shadow: 0px 0px 4px red; }
.base-t { color: black; text-shadow: 0px 0px 4px green; }
.base-g { color: black; text-shadow: 0px 0px 4px blue; }
.base-c { color: black; text-shadow: 0px 0px 4px orange; }

.sequence { 
  font-family: monospace; 
  white-space: pre-wrap; 
  word-wrap: break-word;
  position: relative; right: 160px
}

.clipboard-button { margin-left: 10px; cursor: pointer; border: none; background: none;}

#loci_sequences {
  color: white;
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: #282F38;
}

.wtHolder::-webkit-scrollbar-track,
div#bs-select-1::-webkit-scrollbar-track,
div#bs-select-2::-webkit-scrollbar-track,
div#bs-select-3::-webkit-scrollbar-track,
div#bs-select-4::-webkit-scrollbar-track,
div#bs-select-5::-webkit-scrollbar-track,
div#bs-select-6::-webkit-scrollbar-track,
div#bs-select-7::-webkit-scrollbar-track,
div#bs-select-8::-webkit-scrollbar-track,
div#bs-select-9::-webkit-scrollbar-track,
div#bs-select-10::-webkit-scrollbar-track,
div#bs-select-11::-webkit-scrollbar-track,
div#bs-select-12::-webkit-scrollbar-track,
#logText::-webkit-scrollbar-track, 
#logTextFull::-webkit-scrollbar-track,
.selectize-dropdown-content::-webkit-scrollbar-track {
  background: #F0F0F0;
}

.wtHolder::-webkit-scrollbar-thumb,
div#bs-select-1::-webkit-scrollbar-thumb,
div#bs-select-2::-webkit-scrollbar-thumb,
div#bs-select-3::-webkit-scrollbar-thumb,
div#bs-select-4::-webkit-scrollbar-thumb,
div#bs-select-5::-webkit-scrollbar-thumb,
div#bs-select-6::-webkit-scrollbar-thumb,
div#bs-select-7::-webkit-scrollbar-thumb,
div#bs-select-8::-webkit-scrollbar-thumb,
div#bs-select-9::-webkit-scrollbar-thumb,
div#bs-select-10::-webkit-scrollbar-thumb,
div#bs-select-11::-webkit-scrollbar-thumb,
div#bs-select-12::-webkit-scrollbar-thumb,
#logText::-webkit-scrollbar-thumb, 
#logTextFull::-webkit-scrollbar-thumb,
.selectize-dropdown-content::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border: 2px solid #F0F0F0;
}

*::-webkit-scrollbar-thumb {
  background-color: #F0F0F0;
  border-radius: 10px;
  border: 2px solid #282F38;
} 

*::-webkit-scrollbar-corner {
  background: #F0F0F0;
}

/* Other */
#currentTime {
  padding: 50px;
  position: relative;
  top: 15px;
}