 /* Works on Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

*::-webkit-scrollbar-track {
  background: #282F38;
}

.wtHolder::-webkit-scrollbar-track {
  background: #F0F0F0;
}

.wtHolder::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border: 2px solid #F0F0F0;
}

*::-webkit-scrollbar-thumb {
  background-color: #F0F0F0;
  border-radius: 10px;
  border: 2px solid #282F38;
} 

*::-webkit-scrollbar-corner {
  background: #F0F0F0;
}
