@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.pulsating-button {
  animation: pulsate 1s ease infinite;
}


#nj_tiplab_scale .option[data-value="Set1"],
#nj_tippoint_scale .option[data-value="Set1"],
#nj_tiles_scale_1 .option[data-value="Set1"],
#nj_tiles_scale_2 .option[data-value="Set1"],
#nj_tiles_scale_3 .option[data-value="Set1"],
#nj_tiles_scale_4 .option[data-value="Set1"],
#nj_tiles_scale_5 .option[data-value="Set1"],
#nj_heatmap_scale .option[data-value="Set1"] {
    background: linear-gradient(to right, #E41A1C 0%, #E41A1C 11%, #377EB8 11%, #377EB8 22%, #4DAF4A 22%, #4DAF4A 33%, #984EA3 33%, #984EA3 44%, #FF7F00 44%, #FF7F00 55%, #FFFF33 55%, #FFFF33 66%, #A65628 66%, #A65628 77%, #F781BF 77%, #F781BF 88%, #999999 88%, #999999 100%);
    color: black;
    margin-bottom: 2px;
}


#nj_tiplab_scale .option[data-value="Set2"], 
#nj_tippoint_scale .option[data-value="Set2"], 
#nj_tiles_scale_1 .option[data-value="Set2"], 
#nj_tiles_scale_2 .option[data-value="Set2"], 
#nj_tiles_scale_3 .option[data-value="Set2"], 
#nj_tiles_scale_4 .option[data-value="Set2"], 
#nj_tiles_scale_5 .option[data-value="Set2"], 
#nj_heatmap_scale .option[data-value="Set2"] {
    background: linear-gradient(to right, #66C2A5 0%, #66C2A5 12.5%, #FC8D62 12.5%, #FC8D62 25%, #8DA0CB 25%, #8DA0CB 37.5%, #E78AC3 37.5%, #E78AC3 50%, #A6D854 50%, #A6D854 62.5%, #FFD92F 62.5%, #FFD92F 75%, #E5C494 75%, #E5C494 87.5%, #B3B3B3 87.5%, #B3B3B3 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Set3"], 
#nj_tippoint_scale .option[data-value="Set3"], 
#nj_tiles_scale_1 .option[data-value="Set3"], 
#nj_tiles_scale_2 .option[data-value="Set3"], 
#nj_tiles_scale_3 .option[data-value="Set3"], 
#nj_tiles_scale_4 .option[data-value="Set3"], 
#nj_tiles_scale_5 .option[data-value="Set3"], 
#nj_heatmap_scale .option[data-value="Set3"] {
    background: linear-gradient(to right, #8DD3C7 0%, #8DD3C7 8.33333%, #FFFFB3 8.33333%, #FFFFB3 16.6667%, #BEBADA 16.6667%, #BEBADA 25%, #FB8072 25%, #FB8072 33.3333%, #80B1D3 33.3333%, #80B1D3 41.6667%, #FDB462 41.6667%, #FDB462 50%, #B3DE69 50%, #B3DE69 58.3333%, #FCCDE5 58.3333%, #FCCDE5 66.6667%, #D9D9D9 66.6667%, #D9D9D9 75%, #BC80BD 75%, #BC80BD 83.3333%, #CCEBC5 83.3333%, #CCEBC5 91.6667%, #FFED6F 91.6667%, #FFED6F 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Pastel1"], 
#nj_tippoint_scale .option[data-value="Pastel1"], 
#nj_tiles_scale_1 .option[data-value="Pastel1"], 
#nj_tiles_scale_2 .option[data-value="Pastel1"], 
#nj_tiles_scale_3 .option[data-value="Pastel1"], 
#nj_tiles_scale_4 .option[data-value="Pastel1"], 
#nj_tiles_scale_5 .option[data-value="Pastel1"], 
#nj_heatmap_scale .option[data-value="Pastel1"] {
    background: linear-gradient(to right, #FBB4AE 0%, #FBB4AE 11.1111%, #B3CDE3 11.1111%, #B3CDE3 22.2222%, #CCEBC5 22.2222%, #CCEBC5 33.3333%, #DECBE4 33.3333%, #DECBE4 44.4444%, #FED9A6 44.4444%, #FED9A6 55.5556%, #FFFFCC 55.5556%, #FFFFCC 66.6667%, #E5D8BD 66.6667%, #E5D8BD 77.7778%, #FDDAEC 77.7778%, #FDDAEC 88.8889%, #F2F2F2 88.8889%, #F2F2F2 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Pastel2"], 
#nj_tippoint_scale .option[data-value="Pastel2"], 
#nj_tiles_scale_1 .option[data-value="Pastel2"], 
#nj_tiles_scale_2 .option[data-value="Pastel2"], 
#nj_tiles_scale_3 .option[data-value="Pastel2"], 
#nj_tiles_scale_4 .option[data-value="Pastel2"], 
#nj_tiles_scale_5 .option[data-value="Pastel2"], 
#nj_heatmap_scale .option[data-value="Pastel2"] {
    background: linear-gradient(to right, #B3E2CD 0%, #B3E2CD 12.5%, #FDCDAC 12.5%, #FDCDAC 25%, #CBD5E8 25%, #CBD5E8 37.5%, #F4CAE4 37.5%, #F4CAE4 50%, #E6F5C9 50%, #E6F5C9 62.5%, #FFF2AE 62.5%, #FFF2AE 75%, #F1E2CC 75%, #F1E2CC 87.5%, #CCCCCC 87.5%, #CCCCCC 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Paired"], 
#nj_tippoint_scale .option[data-value="Paired"], 
#nj_tiles_scale_1 .option[data-value="Paired"], 
#nj_tiles_scale_2 .option[data-value="Paired"], 
#nj_tiles_scale_3 .option[data-value="Paired"], 
#nj_tiles_scale_4 .option[data-value="Paired"], 
#nj_tiles_scale_5 .option[data-value="Paired"], 
#nj_heatmap_scale .option[data-value="Paired"] {
    background: linear-gradient(to right, #A6CEE3 0%, #A6CEE3 8.33333%, #1F78B4 8.33333%, #1F78B4 16.6667%, #B2DF8A 16.6667%, #B2DF8A 25%, #33A02C 25%, #33A02C 33.3333%, #FB9A99 33.3333%, #FB9A99 41.6667%, #E31A1C 41.6667%, #E31A1C 50%, #FDBF6F 50%, #FDBF6F 58.3333%, #FF7F00 58.3333%, #FF7F00 66.6667%, #CAB2D6 66.6667%, #CAB2D6 75%, #6A3D9A 75%, #6A3D9A 83.3333%, #FFFF99 83.3333%, #FFFF99 91.6667%, #B15928 91.6667%, #B15928 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Dark2"], 
#nj_tippoint_scale .option[data-value="Dark2"], 
#nj_tiles_scale_1 .option[data-value="Dark2"], 
#nj_tiles_scale_2 .option[data-value="Dark2"], 
#nj_tiles_scale_3 .option[data-value="Dark2"], 
#nj_tiles_scale_4 .option[data-value="Dark2"], 
#nj_tiles_scale_5 .option[data-value="Dark2"], 
#nj_heatmap_scale .option[data-value="Dark2"] {
    background: linear-gradient(to right, #1B9E77 0%, #1B9E77 12.5%, #D95F02 12.5%, #D95F02 25%, #7570B3 25%, #7570B3 37.5%, #E7298A 37.5%, #E7298A 50%, #66A61E 50%, #66A61E 62.5%, #E6AB02 62.5%, #E6AB02 75%, #A6761D 75%, #A6761D 87.5%, #666666 87.5%, #666666 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Accent"], 
#nj_tippoint_scale .option[data-value="Accent"], 
#nj_tiles_scale_1 .option[data-value="Accent"], 
#nj_tiles_scale_2 .option[data-value="Accent"], 
#nj_tiles_scale_3 .option[data-value="Accent"], 
#nj_tiles_scale_4 .option[data-value="Accent"], 
#nj_tiles_scale_5 .option[data-value="Accent"], 
#nj_heatmap_scale .option[data-value="Accent"] {
    background: linear-gradient(to right, #7FC97F 0%, #7FC97F 12.5%, #BEAED4 12.5%, #BEAED4 25%, #FDC086 25%, #FDC086 37.5%, #FFFF99 37.5%, #FFFF99 50%, #386CB0 50%, #386CB0 62.5%, #F0027F 62.5%, #F0027F 75%, #BF5B17 75%, #BF5B17 87.5%, #666666 87.5%, #666666 100%);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="YlOrRd"], 
#nj_tippoint_scale .option[data-value="YlOrRd"], 
#nj_tiles_scale_1 .option[data-value="YlOrRd"], 
#nj_tiles_scale_2 .option[data-value="YlOrRd"], 
#nj_tiles_scale_3 .option[data-value="YlOrRd"], 
#nj_tiles_scale_4 .option[data-value="YlOrRd"], 
#nj_tiles_scale_5 .option[data-value="YlOrRd"], 
#nj_heatmap_scale .option[data-value="YlOrRd"] {
    background: linear-gradient(to right, #FFFFCC 0%, #FFFFCC 11.1111%, #FFEDA0 11.1111%, #FFEDA0 22.2222%, #FED976 22.2222%, #FED976 33.3333%, #FEB24C 33.3333%, #FEB24C 44.4444%, #FD8D3C 44.4444%, #FD8D3C 55.5556%, #FC4E2A 55.5556%, #FC4E2A 66.6667%, #E31A1C 66.6667%, #E31A1C 77.7778%, #BD0026 77.7778%, #BD0026 88.8889%, #800026 88.8889%, #800026 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="YlOrBr"], 
#nj_tippoint_scale .option[data-value="YlOrBr"], 
#nj_tiles_scale_1 .option[data-value="YlOrBr"], 
#nj_tiles_scale_2 .option[data-value="YlOrBr"], 
#nj_tiles_scale_3 .option[data-value="YlOrBr"], 
#nj_tiles_scale_4 .option[data-value="YlOrBr"], 
#nj_tiles_scale_5 .option[data-value="YlOrBr"], 
#nj_heatmap_scale .option[data-value="YlOrBr"] {
    background: linear-gradient(to right, #FFFFE5 0%, #FFFFE5 11.1111%, #FFF7BC 11.1111%, #FFF7BC 22.2222%, #FEE391 22.2222%, #FEE391 33.3333%, #FEC44F 33.3333%, #FEC44F 44.4444%, #FE9929 44.4444%, #FE9929 55.5556%, #EC7014 55.5556%, #EC7014 66.6667%, #CC4C02 66.6667%, #CC4C02 77.7778%, #993404 77.7778%, #993404 88.8889%, #662506 88.8889%, #662506 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="YlGnBu"], 
#nj_tippoint_scale .option[data-value="YlGnBu"], 
#nj_tiles_scale_1 .option[data-value="YlGnBu"], 
#nj_tiles_scale_2 .option[data-value="YlGnBu"], 
#nj_tiles_scale_3 .option[data-value="YlGnBu"], 
#nj_tiles_scale_4 .option[data-value="YlGnBu"], 
#nj_tiles_scale_5 .option[data-value="YlGnBu"], 
#nj_heatmap_scale .option[data-value="YlGnBu"] {
    background: linear-gradient(to right, #FFFFD9 0%, #FFFFD9 11.1111%, #EDF8B1 11.1111%, #EDF8B1 22.2222%, #C7E9B4 22.2222%, #C7E9B4 33.3333%, #7FCDBB 33.3333%, #7FCDBB 44.4444%, #41B6C4 44.4444%, #41B6C4 55.5556%, #1D91C0 55.5556%, #1D91C0 66.6667%, #225EA8 66.6667%, #225EA8 77.7778%, #253494 77.7778%, #253494 88.8889%, #081D58 88.8889%, #081D58 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="YlGn"], 
#nj_tippoint_scale .option[data-value="YlGn"], 
#nj_tiles_scale_1 .option[data-value="YlGn"], 
#nj_tiles_scale_2 .option[data-value="YlGn"], 
#nj_tiles_scale_3 .option[data-value="YlGn"], 
#nj_tiles_scale_4 .option[data-value="YlGn"], 
#nj_tiles_scale_5 .option[data-value="YlGn"], 
#nj_heatmap_scale .option[data-value="YlGn"] {
    background: linear-gradient(to right, #FFFFE5 0%, #FFFFE5 11.1111%, #F7FCB9 11.1111%, #F7FCB9 22.2222%, #D9F0A3 22.2222%, #D9F0A3 33.3333%, #ADDD8E 33.3333%, #ADDD8E 44.4444%, #78C679 44.4444%, #78C679 55.5556%, #41AB5D 55.5556%, #41AB5D 66.6667%, #238443 66.6667%, #238443 77.7778%, #006837 77.7778%, #006837 88.8889%, #004529 88.8889%, #004529 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Reds"], 
#nj_tippoint_scale .option[data-value="Reds"], 
#nj_tiles_scale_1 .option[data-value="Reds"], 
#nj_tiles_scale_2 .option[data-value="Reds"], 
#nj_tiles_scale_3 .option[data-value="Reds"], 
#nj_tiles_scale_4 .option[data-value="Reds"], 
#nj_tiles_scale_5 .option[data-value="Reds"], 
#nj_heatmap_scale .option[data-value="Reds"] {
    background: linear-gradient(to right, #FFF5F0 0%, #FFF5F0 11.1111%, #FEE0D2 11.1111%, #FEE0D2 22.2222%, #FCBBA1 22.2222%, #FCBBA1 33.3333%, #FC9272 33.3333%, #FC9272 44.4444%, #FB6A4A 44.4444%, #FB6A4A 55.5556%, #EF3B2C 55.5556%, #EF3B2C 66.6667%, #CB181D 66.6667%, #CB181D 77.7778%, #A50F15 77.7778%, #A50F15 88.8889%, #67000D 88.8889%, #67000D 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="RdPu"], 
#nj_tippoint_scale .option[data-value="RdPu"], 
#nj_tiles_scale_1 .option[data-value="RdPu"], 
#nj_tiles_scale_2 .option[data-value="RdPu"], 
#nj_tiles_scale_3 .option[data-value="RdPu"], 
#nj_tiles_scale_4 .option[data-value="RdPu"], 
#nj_tiles_scale_5 .option[data-value="RdPu"], 
#nj_heatmap_scale .option[data-value="RdPu"] {
    background: linear-gradient(to right, #FFF7F3 0%, #FFF7F3 11.1111%, #FDE0DD 11.1111%, #FDE0DD 22.2222%, #FCC5C0 22.2222%, #FCC5C0 33.3333%, #FA9FB5 33.3333%, #FA9FB5 44.4444%, #F768A1 44.4444%, #F768A1 55.5556%, #DD3497 55.5556%, #DD3497 66.6667%, #AE017E 66.6667%, #AE017E 77.7778%, #7A0177 77.7778%, #7A0177 88.8889%, #49006A 88.8889%, #49006A 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Purples"], 
#nj_tippoint_scale .option[data-value="Purples"], 
#nj_tiles_scale_1 .option[data-value="Purples"], 
#nj_tiles_scale_2 .option[data-value="Purples"], 
#nj_tiles_scale_3 .option[data-value="Purples"], 
#nj_tiles_scale_4 .option[data-value="Purples"], 
#nj_tiles_scale_5 .option[data-value="Purples"], 
#nj_heatmap_scale .option[data-value="Purples"] {
    background: linear-gradient(to right, #FCFBFD 0%, #FCFBFD 11.1111%, #EFEDF5 11.1111%, #EFEDF5 22.2222%, #DADAEB 22.2222%, #DADAEB 33.3333%, #BCBDDC 33.3333%, #BCBDDC 44.4444%, #9E9AC8 44.4444%, #9E9AC8 55.5556%, #807DBA 55.5556%, #807DBA 66.6667%, #6A51A3 66.6667%, #6A51A3 77.7778%, #54278F 77.7778%, #54278F 88.8889%, #3F007D 88.8889%, #3F007D 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="PuRd"], 
#nj_tippoint_scale .option[data-value="PuRd"], 
#nj_tiles_scale_1 .option[data-value="PuRd"], 
#nj_tiles_scale_2 .option[data-value="PuRd"], 
#nj_tiles_scale_3 .option[data-value="PuRd"], 
#nj_tiles_scale_4 .option[data-value="PuRd"], 
#nj_tiles_scale_5 .option[data-value="PuRd"], 
#nj_heatmap_scale .option[data-value="PuRd"] {
    background: linear-gradient(to right, #F7F4F9 0%, #F7F4F9 11.1111%, #E7E1EF 11.1111%, #E7E1EF 22.2222%, #D4B9DA 22.2222%, #D4B9DA 33.3333%, #C994C7 33.3333%, #C994C7 44.4444%, #DF65B0 44.4444%, #DF65B0 55.5556%, #E7298A 55.5556%, #E7298A 66.6667%, #CE1256 66.6667%, #CE1256 77.7778%, #980043 77.7778%, #980043 88.8889%, #67001F 88.8889%, #67001F 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="PuBuGn"], 
#nj_tippoint_scale .option[data-value="PuBuGn"], 
#nj_tiles_scale_1 .option[data-value="PuBuGn"], 
#nj_tiles_scale_2 .option[data-value="PuBuGn"], 
#nj_tiles_scale_3 .option[data-value="PuBuGn"], 
#nj_tiles_scale_4 .option[data-value="PuBuGn"], 
#nj_tiles_scale_5 .option[data-value="PuBuGn"], 
#nj_heatmap_scale .option[data-value="PuBuGn"] {
    background: linear-gradient(to right, #FFF7FB 0%, #FFF7FB 11.1111%, #ECE2F0 11.1111%, #ECE2F0 22.2222%, #D0D1E6 22.2222%, #D0D1E6 33.3333%, #A6BDDB 33.3333%, #A6BDDB 44.4444%, #67A9CF 44.4444%, #67A9CF 55.5556%, #3690C0 55.5556%, #3690C0 66.6667%, #02818A 66.6667%, #02818A 77.7778%, #016C59 77.7778%, #016C59 88.8889%, #014636 88.8889%, #014636 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="PuBu"], 
#nj_tippoint_scale .option[data-value="PuBu"], 
#nj_tiles_scale_1 .option[data-value="PuBu"], 
#nj_tiles_scale_2 .option[data-value="PuBu"], 
#nj_tiles_scale_3 .option[data-value="PuBu"], 
#nj_tiles_scale_4 .option[data-value="PuBu"], 
#nj_tiles_scale_5 .option[data-value="PuBu"], 
#nj_heatmap_scale .option[data-value="PuBu"] {
    background: linear-gradient(to right, #FFF7FB 0%, #FFF7FB 11.1111%, #ECE7F2 11.1111%, #ECE7F2 22.2222%, #D0D1E6 22.2222%, #D0D1E6 33.3333%, #A6BDDB 33.3333%, #A6BDDB 44.4444%, #74A9CF 44.4444%, #74A9CF 55.5556%, #3690C0 55.5556%, #3690C0 66.6667%, #0570B0 66.6667%, #0570B0 77.7778%, #045A8D 77.7778%, #045A8D 88.8889%, #023858 88.8889%, #023858 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="OrRd"], 
#nj_tippoint_scale .option[data-value="OrRd"], 
#nj_tiles_scale_1 .option[data-value="OrRd"], 
#nj_tiles_scale_2 .option[data-value="OrRd"], 
#nj_tiles_scale_3 .option[data-value="OrRd"], 
#nj_tiles_scale_4 .option[data-value="OrRd"], 
#nj_tiles_scale_5 .option[data-value="OrRd"], 
#nj_heatmap_scale .option[data-value="OrRd"] {
    background: linear-gradient(to right, #FFF7EC 0%, #FFF7EC 11.1111%, #FEE8C8 11.1111%, #FEE8C8 22.2222%, #FDD49E 22.2222%, #FDD49E 33.3333%, #FDBB84 33.3333%, #FDBB84 44.4444%, #FC8D59 44.4444%, #FC8D59 55.5556%, #EF6548 55.5556%, #EF6548 66.6667%, #D7301F 66.6667%, #D7301F 77.7778%, #B30000 77.7778%, #B30000 88.8889%, #7F0000 88.8889%, #7F0000 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Oranges"], 
#nj_tippoint_scale .option[data-value="Oranges"], 
#nj_tiles_scale_1 .option[data-value="Oranges"], 
#nj_tiles_scale_2 .option[data-value="Oranges"], 
#nj_tiles_scale_3 .option[data-value="Oranges"], 
#nj_tiles_scale_4 .option[data-value="Oranges"], 
#nj_tiles_scale_5 .option[data-value="Oranges"], 
#nj_heatmap_scale .option[data-value="Oranges"] {
    background: linear-gradient(to right, #FFF5EB 0%, #FFF5EB 11.1111%, #FEE6CE 11.1111%, #FEE6CE 22.2222%, #FDD0A2 22.2222%, #FDD0A2 33.3333%, #FDAE6B 33.3333%, #FDAE6B 44.4444%, #FD8D3C 44.4444%, #FD8D3C 55.5556%, #F16913 55.5556%, #F16913 66.6667%, #D94801 66.6667%, #D94801 77.7778%, #A63603 77.7778%, #A63603 88.8889%, #7F2704 88.8889%, #7F2704 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Greys"], 
#nj_tippoint_scale .option[data-value="Greys"], 
#nj_tiles_scale_1 .option[data-value="Greys"], 
#nj_tiles_scale_2 .option[data-value="Greys"], 
#nj_tiles_scale_3 .option[data-value="Greys"], 
#nj_tiles_scale_4 .option[data-value="Greys"], 
#nj_tiles_scale_5 .option[data-value="Greys"], 
#nj_heatmap_scale .option[data-value="Greys"] {
    background: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 11.1111%, #F0F0F0 11.1111%, #F0F0F0 22.2222%, #D9D9D9 22.2222%, #D9D9D9 33.3333%, #BDBDBD 33.3333%, #BDBDBD 44.4444%, #969696 44.4444%, #969696 55.5556%, #737373 55.5556%, #737373 66.6667%, #525252 66.6667%, #525252 77.7778%, #252525 77.7778%, #252525 88.8889%, #000000 88.8889%, #000000 100%);
    color: white;
}

#nj_tiplab_scale .option[data-value="Greens"], 
#nj_tippoint_scale .option[data-value="Greens"], 
#nj_tiles_scale_1 .option[data-value="Greens"], 
#nj_tiles_scale_2 .option[data-value="Greens"], 
#nj_tiles_scale_3 .option[data-value="Greens"], 
#nj_tiles_scale_4 .option[data-value="Greens"], 
#nj_tiles_scale_5 .option[data-value="Greens"], 
#nj_heatmap_scale .option[data-value="Greens"] {
    background: linear-gradient(to right, #F7FCF5 0%, #F7FCF5 11.1111%, #E5F5E0 11.1111%, #E5F5E0 22.2222%, #C7E9C0 22.2222%, #C7E9C0 33.3333%, #A1D99B 33.3333%, #A1D99B 44.4444%, #74C476 44.4444%, #74C476 55.5556%, #41AB5D 55.5556%, #41AB5D 66.6667%, #238B45 66.6667%, #238B45 77.7778%, #006D2C 77.7778%, #006D2C 88.8889%, #00441B 88.8889%, #00441B 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="GnBu"], 
#nj_tippoint_scale .option[data-value="GnBu"], 
#nj_tiles_scale_1 .option[data-value="GnBu"], 
#nj_tiles_scale_2 .option[data-value="GnBu"], 
#nj_tiles_scale_3 .option[data-value="GnBu"], 
#nj_tiles_scale_4 .option[data-value="GnBu"], 
#nj_tiles_scale_5 .option[data-value="GnBu"], 
#nj_heatmap_scale .option[data-value="GnBu"] {
    background: linear-gradient(to right, #F7FCF0 0%, #F7FCF0 11.1111%, #E0F3DB 11.1111%, #E0F3DB 22.2222%, #CCEBC5 22.2222%, #CCEBC5 33.3333%, #A8DDB5 33.3333%, #A8DDB5 44.4444%, #7BCCC4 44.4444%, #7BCCC4 55.5556%, #4EB3D3 55.5556%, #4EB3D3 66.6667%, #2B8CBE 66.6667%, #2B8CBE 77.7778%, #0868AC 77.7778%, #0868AC 88.8889%, #084081 88.8889%, #084081 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="BuPu"], 
#nj_tippoint_scale .option[data-value="BuPu"], 
#nj_tiles_scale_1 .option[data-value="BuPu"], 
#nj_tiles_scale_2 .option[data-value="BuPu"], 
#nj_tiles_scale_3 .option[data-value="BuPu"],
#nj_tiles_scale_4 .option[data-value="BuPu"], 
#nj_tiles_scale_5 .option[data-value="BuPu"], 
#nj_heatmap_scale .option[data-value="BuPu"] {
    background: linear-gradient(to right, #F7FCFD 0%, #F7FCFD 11.1111%, #E0ECF4 11.1111%, #E0ECF4 22.2222%, #BFD3E6 22.2222%, #BFD3E6 33.3333%, #9EBCDA 33.3333%, #9EBCDA 44.4444%, #8C96C6 44.4444%, #8C96C6 55.5556%, #8C6BB1 55.5556%, #8C6BB1 66.6667%, #88419D 66.6667%, #88419D 77.7778%, #810F7C 77.7778%, #810F7C 88.8889%, #4D004B 88.8889%, #4D004B 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="BuGn"], 
#nj_tippoint_scale .option[data-value="BuGn"], 
#nj_tiles_scale_1 .option[data-value="BuGn"], 
#nj_tiles_scale_2 .option[data-value="BuGn"], 
#nj_tiles_scale_3 .option[data-value="BuGn"], 
#nj_tiles_scale_4 .option[data-value="BuGn"], 
#nj_tiles_scale_5 .option[data-value="BuGn"], 
#nj_heatmap_scale .option[data-value="BuGn"] {
    background: linear-gradient(to right, #F7FCFD 0%, #F7FCFD 11.1111%, #E5F5F9 11.1111%, #E5F5F9 22.2222%, #CCECE6 22.2222%, #CCECE6 33.3333%, #99D8C9 33.3333%, #99D8C9 44.4444%, #66C2A4 44.4444%, #66C2A4 55.5556%, #41AE76 55.5556%, #41AE76 66.6667%, #238B45 66.6667%, #238B45 77.7778%, #006D2C 77.7778%, #006D2C 88.8889%, #00441B 88.8889%, #00441B 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="Blues"], 
#nj_tippoint_scale .option[data-value="Blues"], 
#nj_tiles_scale_1 .option[data-value="Blues"], 
#nj_tiles_scale_2 .option[data-value="Blues"], 
#nj_tiles_scale_3 .option[data-value="Blues"], 
#nj_tiles_scale_4 .option[data-value="Blues"], 
#nj_tiles_scale_5 .option[data-value="Blues"], 
#nj_heatmap_scale .option[data-value="Blues"] {
    background: linear-gradient(to right, #F7FBFF 0%, #F7FBFF 11.1111%, #DEEBF7 11.1111%, #DEEBF7 22.2222%, #C6DBEF 22.2222%, #C6DBEF 33.3333%, #9ECAE1 33.3333%, #9ECAE1 44.4444%, #6BAED6 44.4444%, #6BAED6 55.5556%, #4292C6 55.5556%, #4292C6 66.6667%, #2171B5 66.6667%, #2171B5 77.7778%, #08519C 77.7778%, #08519C 88.8889%, #08306B 88.8889%, #08306B 100%);
    color: white;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="magma"], 
#nj_tippoint_scale .option[data-value="magma"], 
#nj_tiles_scale_1 .option[data-value="magma"], 
#nj_tiles_scale_2 .option[data-value="magma"], 
#nj_tiles_scale_3 .option[data-value="magma"], 
#nj_tiles_scale_4 .option[data-value="magma"], 
#nj_tiles_scale_5 .option[data-value="magma"], 
#nj_heatmap_scale .option[data-value="magma"] {
    background: linear-gradient(to right, #000004FF, #07071DFF, #160F3BFF, #29115AFF, #400F73FF, #56147DFF, #6B1D81FF, #802582FF, #952C80FF, #AB337CFF, #C03A76FF, #D6456CFF, #E85362FF, #F4685CFF, #FA815FFF, #FD9A6AFF, #FEB37BFF, #FECC8FFF, #FDE4A6FF, #FCFDBFFF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="inferno"], 
#nj_tippoint_scale .option[data-value="inferno"], 
#nj_tiles_scale_1 .option[data-value="inferno"], 
#nj_tiles_scale_2 .option[data-value="inferno"], 
#nj_tiles_scale_3 .option[data-value="inferno"], 
#nj_tiles_scale_4 .option[data-value="inferno"], 
#nj_tiles_scale_5 .option[data-value="inferno"], 
#nj_heatmap_scale .option[data-value="inferno"] {
    background: linear-gradient(to right, #000004FF, #08051EFF, #190C3EFF, #300A5BFF, #460B6AFF, #5C126EFF, #711A6EFF, #87216BFF, #9C2964FF, #B1325AFF, #C43C4EFF, #D64B40FF, #E55C30FF, #F17020FF, #F8870EFF, #FCA007FF, #FBB91FFF, #F7D340FF, #F1ED6FFF, #FCFFA4FF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="plasma"], 
#nj_tippoint_scale .option[data-value="plasma"], 
#nj_tiles_scale_1 .option[data-value="plasma"], 
#nj_tiles_scale_2 .option[data-value="plasma"], 
#nj_tiles_scale_3 .option[data-value="plasma"], 
#nj_tiles_scale_4 .option[data-value="plasma"], 
#nj_tiles_scale_5 .option[data-value="plasma"], 
#nj_heatmap_scale .option[data-value="plasma"] {
    background: linear-gradient(to right, #0D0887FF, #2D0594FF, #44039EFF, #5901A5FF, #6F00A8FF, #8305A7FF, #9512A1FF, #A72197FF, #B6308BFF, #C5407EFF, #D14E72FF, #DD5E66FF, #E76E5BFF, #EF7F4FFF, #F79044FF, #FBA238FF, #FEB72DFF, #FDCB26FF, #F7E225FF, #F0F921FF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="viridis"], 
#nj_tippoint_scale .option[data-value="viridis"], 
#nj_tiles_scale_1 .option[data-value="viridis"], 
#nj_tiles_scale_2 .option[data-value="viridis"], 
#nj_tiles_scale_3 .option[data-value="viridis"], 
#nj_tiles_scale_4 .option[data-value="viridis"], 
#nj_tiles_scale_5 .option[data-value="viridis"], 
#nj_heatmap_scale .option[data-value="viridis"] {
    background: linear-gradient(to right, #440154FF, #481568FF, #482677FF, #453781FF, #3F4788FF, #39558CFF, #32648EFF, #2D718EFF, #287D8EFF, #238A8DFF, #1F968BFF, #20A386FF, #29AF7FFF, #3CBC75FF, #56C667FF, #74D055FF, #94D840FF, #B8DE29FF, #DCE318FF, #FDE725FF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="cividis"], 
#nj_tippoint_scale .option[data-value="cividis"], 
#nj_tiles_scale_1 .option[data-value="cividis"], 
#nj_tiles_scale_2 .option[data-value="cividis"], 
#nj_tiles_scale_3 .option[data-value="cividis"], 
#nj_tiles_scale_4 .option[data-value="cividis"], 
#nj_tiles_scale_5 .option[data-value="cividis"], 
#nj_heatmap_scale .option[data-value="cividis"] {
    background: linear-gradient(to right, #00204DFF, #002A64FF, #00336FFF, #1F3C6DFF, #35466BFF, #444F6BFF, #53596CFF, #5F636EFF, #6B6C71FF, #777776FF, #838079FF, #908B79FF, #9D9677FF, #ABA074FF, #B9AC70FF, #C7B76BFF, #D7C463FF, #E5D05AFF, #F5DD4DFF, #FFEA46FF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="rocket"], 
#nj_tippoint_scale .option[data-value="rocket"], 
#nj_tiles_scale_1 .option[data-value="rocket"], 
#nj_tiles_scale_2 .option[data-value="rocket"], 
#nj_tiles_scale_3 .option[data-value="rocket"], 
#nj_tiles_scale_4 .option[data-value="rocket"], 
#nj_tiles_scale_5 .option[data-value="rocket"], 
#nj_heatmap_scale .option[data-value="rocket"] {
    background: linear-gradient(to right, #03051AFF, #150E26FF, #281535FF, #3C1A42FF, #511E4DFF, #661F54FF, #7C1F5AFF, #931C5BFF, #AA185AFF, #C11754FF, #D3214BFF, #E33541FF, #ED4E3EFF, #F26847FF, #F4815AFF, #F5986FFF, #F6AE86FF, #F7C2A2FF, #F8D7BFFF, #FAEBDDFF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="mako"], 
#nj_tippoint_scale .option[data-value="mako"], 
#nj_tiles_scale_1 .option[data-value="mako"], 
#nj_tiles_scale_2 .option[data-value="mako"], 
#nj_tiles_scale_3 .option[data-value="mako"], 
#nj_tiles_scale_4 .option[data-value="mako"], 
#nj_tiles_scale_5 .option[data-value="mako"], 
#nj_heatmap_scale .option[data-value="mako"] {
    background: linear-gradient(to right, #0B0405FF, #190E19FF, #27182DFF, #312142FF, #3A2C59FF, #3F3770FF, #414388FF, #3C5397FF, #38639DFF, #3573A1FF, #3482A4FF, #3491A8FF, #35A0ABFF, #3AAEADFF, #46BEADFF, #5ACCADFF, #7ED7AFFF, #A4E0BBFF, #C3E9CEFF, #DEF5E5FF);
    color: black;
    margin-bottom: 2px;
}

#nj_tiplab_scale .option[data-value="turbo"], 
#nj_tippoint_scale .option[data-value="turbo"], 
#nj_tiles_scale_1 .option[data-value="turbo"], 
#nj_tiles_scale_2 .option[data-value="turbo"], 
#nj_tiles_scale_3 .option[data-value="turbo"], 
#nj_tiles_scale_4 .option[data-value="turbo"], 
#nj_tiles_scale_5 .option[data-value="turbo"], 
#nj_heatmap_scale .option[data-value="turbo"] {
    background: linear-gradient(to right, #30123BFF, #3F3994FF, #455ED2FF, #4681F7FF, #3AA2FCFF, #23C3E4FF, #18DEC1FF, #2CF09EFF, #5BFB72FF, #8EFF49FF, #B5F836FF, #D6E635FF, #EFCD3AFF, #FCB036FF, #FD8A26FF, #F36215FF, #E14209FF, #C82803FF, #A51301FF, #7A0403FF);
    color: black;
    margin-bottom: 2px;
}


.pulsating-button:hover {
  animation: none;
}

.box.box-solid.box-info{
    background: #282F38;
    margin-top: 20px;
    position: relative;
    left: 30px;
}

.box.box-solid.box-info, .box.box-info {
    border-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    border-radius: 7px;
}

#nj_layout_ctrl, #nj_label_ctrl, #nj_elements_ctrl {
    width: 134px;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 40px;
    text-align-last: justify;
    font-size: larger;
}

#nj_layout_ctrl {
  margin-top: 20px !important;
}



h1, h2, h3, h4, h5, p, body {
  font-family: 'Liberation Sans', sans-serif;
}

#nj_field img {
  border-radius: 10px;
}

label {
  color: white;
}

.white {
  color: white; 
  font-size: 16px;
}

.main-sidebar .sidebar .sidebar-menu .treeview-menu a {
  color: #ffffff !important; 
  margin-left: 25px; 
  border-radius: 20px; 
  margin-top: 7px; 
  margin-bottom: 7px;
}

.main-sidebar .sidebar .sidebar-menu a {
  border: none;
}

.main-sidebar .sidebar .sidebar-menu .treeview-menu li.active a {
  color: #000000 !important; 
  border-radius: 20px; 
  margin-top: 7px; 
  margin-bottom: 7px;
}

.main-sidebar .sidebar .sidebar-menu .treeview-menu li:hover a {
  color: #000000 !important; 
  border-radius: 20px; 
  margin-top: 7px; 
  margin-bottom: 7px;
}

.main-sidebar .sidebar .sidebar-menu li:hover a {
  color: #000000; 
  border: none;
}

file.select {
  background-color: white;
}

#include_edge, #include_node {
  width: 20px; 
  height: 20px; 
  margin-top: 13px;
}

.selectize-control.single .selectize-input:after {
  right: 10px;
}

#scheme_db .selectize-control {
  font-size: 12px;
}

.scheme_start {
  margin-left: -20px;
}

.irs--shiny .irs-min,
.irs--shiny .irs-max {
  top: 0;
  padding: 1px 3px;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 10px;
  line-height: 1.333;
  color: white
}

i.fas {
  margin-right: 5px;
}

i.fas.fa-rotate {
  position: relative; 
  left: -5px;
}

#reload_db i.fas.fa-rotate {
  position: relative; 
  left: -5px;
  top: -2px;
}

i.far {
  margin-right: 5px;
}

i.fas.fa-sliders {
  margin-right: 0px; 
  margin-top: 5px;
}
 
i.fas.fa-xmark, i.fas.fa-download, i.far.fa-bookmark {
  margin-right: 0px;
}

i.fas.fa-triangle-exclamation {
  color: yellow;
}

i.far.fa-file-lines {
  margin-left: 2px; 
  margin-right: 8px;
}

i.far.fa-pen-to-square {
  position: relative; 
  left: -3px
}

button#reload_db.btn.btn-default.action-button.shiny-bound-input {
  height: 30px; 
  width: 30px; 
  position: relative; 
  left: -20px;
}

button#edit_button.btn.btn-default.action-button.shiny-bound-input {
  background: #20E6E5; 
  color: #000000;
}

button#save_plot_jpeg {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: 10px; 
  right: 20px
}

button#save_plot_png {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: 10px; 
  right: 20px
}

button#save_plot_bmp {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: 10px; 
  right: 20px;
}

button#save_plot_html_bttn {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: 10px; 
  right: 20px;
}

button#download_nj_bttn {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: 10px; 
  right: 20px;
}

button#download_upgma_bttn {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: 10px; 
  right: 20px;
}

button#download_distmatrix_bttn {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: absolute; 
  top: -50px;
}

button#download_entry_table_bttn {
  height: 34px; 
  background: #20E6E5; 
  color: #000000;
}

button#download_schemeinfo_bttn {
  height: 28px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 19px; 
  margin-left: 10px;
}

button#download_loci_info_bttn {
  height: 28px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 19px; 
  margin-left: 10px;
}

button#download_na_matrix_bttn {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 14px; 
  margin-left: 10px;
}

.irs.irs--shiny.js-irs-0 {
  margin-right: -15px;
}

.irs.irs--shiny.js-irs-1 {
  margin-right: -15px;
}

.irs.irs--shiny.js-irs-2 {
  margin-right: -15px;
}

div#scheme_db .form-control, .selectize-input, .selectize-control.single .selectize-input {
  border-color: #000000 !important;
}

#distmatrix_triangle {
  margin-top: -35px;
}

#distmatrix_diag {
  margin-top: -55px;
}

#distmatrix_true {
  margin-top: -15px;
}

#rep_general {
  margin-top: -13px;
}

#rep_analysis {
  margin-top: -32px;
}

#rep_plot_report {
  margin-top: -51px;
}

#mst_ratio {
  position: absolute; 
  right: 36px; 
  top: 23px;
}

#nj_ratio {
  position: absolute; 
  right: 36px; 
  top: 23px;
}

#upgma_ratio {
  position: absolute; 
  right: 36px; 
  top: 23px;
}

.format {
  position: absolute; 
  top: -16px; 
  width: -webkit-fill-available;
}

button#mst_general_menu {
  height: 27px; 
  width: 27px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: 2px;
}

button#mst_analysis_menu {
  height: 27px; 
  width: 27px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: -17px
}

button#download_report_bttn {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  position: relative; 
  top: -25px;
}

.tippy-tooltip.translucent-theme {
  background-color: rgba(0,0,0,0.9);
}

#nj_v {
  padding: initial; 
  margin-top: 3px; 
  width: 75px; 
  text-align: center;
}

.arrow_move input::-webkit-inner-spin-button {
  margin-right: 8px;
}

#nj_h {
  padding: initial; 
  margin-top: 3px; 
  width: 75px; 
  text-align: center;
}

#upgma_v {
  padding: initial; 
  margin-top: 3px; 
  width: 75px; 
  text-align: center;
}

#upgma_h {
  padding: initial; 
  margin-top: 3px; 
  width: 75px; 
  text-align: center;
}

#upgma_zoom irs.irs--shiny.js-irs-4.irs.irs-line {
  width: 108px;
}

.textinput_var .form-group.shiny-input-container {
  padding: 0px 0px 0px 0px;
}

#show_cust_var {
  color:black; 
  font-size: 14px;
}

button#load.pulsating-button.btn.btn-default.action-button.shiny-bound-input {
  background: #20E6E5; 
  color: #000000; 
  width: 40px;
}

#load .fas.fa-rotate {
  position: relative; 
  left: 0px !important;
}

.shiny-input-container input[type="text"] {
  border-radius: 5px;
  
}

.box.box-solid.box-primary>.box-header {
  background:#282F38;
}

.box.box-solid.box-primary {
  background:#282F38;
}

.image {
  height: 240px;
}

.loci_table .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #ffffff !important;
}

div#db_distancematrix.rhandsontable {
  font-size: 11px;
}

button#download_cgMLST {
  font-size: 14px; 
  height: 34px; 
  background: #20E6E5; 
  color: #000000;
}

button#download_cgMLST i.fas.fa-download {
  margin-right: 5px !important
}

span#progress_bar-title.progress-text {
  color: white; 
  font-size: 13px; 
  font-weight: normal;
}

div#progress_bar.progress-bar {
  font-size:13px; 
  line-height: 30px;
}

.progress {
  border-radius: 5px; 
  height: 30px; 
  line-height: 30px;
}

button#mst_node_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: 3px;
}

button#mst_edge_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px;
}

button#mst_title_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#mst_edgelabel_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 37px; 
  border-radius: 5px
}

button#mst_edgecolor_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#mst_subtitle_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#mst_footer_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#mst_label_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 37px; 
  border-radius: 5px
}

input.form-control.pickr-color {
  text-align: center; 
  font-size: 11px;
}

.checkbox_bg .checkbox {
  margin-top: 25px !important;
}

#mst_background_transparent {
  margin-bottom: -6px !important;
}

.label_sel {
  margin-bottom: -16px;
}

.slider {
  margin-bottom: -6px;
}

.slider_edge {
  margin-top: -10px;
}

#nj_subtitle_color, #nj_title_color, #nj_bg {
  margin-bottom: 11px;
}

#nj_branch_label_menu-template > div > div:nth-child(2) > div:nth-child(2) {
  margin-top: 26px;
  margin-bottom: -10px;
}

#upgma_branch_label_menu-template > div > div:nth-child(2) > div:nth-child(2) {
  margin-top: 26px;
  margin-bottom: -10px;
}

#mst_color_node {
  margin-top: -17px
}

#mst_shadow {
  position: relative; 
  bottom: -1px;
}

#node_font_color {
  margin-top: 17px
}

#mst_edge_font_color {
  margin-top: 17px
}

#scale_nodes {
  position: relative; 
  bottom: -1px
}

#mst_scale_edges {
  position: relative; 
  bottom: -1px; 
  margin-bottom: 30px
}

#nj_controls {
  margin-left: 25px;
  margin-top: 35px;
}

#nj_controls > div > div:nth-child(1) {
  height: 50px;
  width: 100px;
}

#nj_controls > div > div:nth-child(2) {
  height: 50px;
  width: 100px;
}

#nj_controls > div > div:nth-child(3) {
  height: 50px;
  width: 100px;
}

#nj_color_mapping {
  margin-top: -7px;
  margin-bottom: -10px;
}

#nj_branch_label_color {
  margin-top: -7px;
}

button#nj_labeltext_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: 20px; 
  margin-left: 10px
}

button#nj_labelformat_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: 20px
}

button#nj_subtitle_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#nj_footer_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#nj_title_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#nj_branch_label_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px; 
  margin-left: 10px
}

button#nj_legend_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#nj_treescale_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#nj_rootedge_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 10px; 
  margin-top: 8px; 
  border-radius: 5px
}

button#nj_tippoint_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_nodepoint_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_heatmap_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_clade_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_tile_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_tile_menu_2 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_tile_menu_3 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_tile_menu_4 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#nj_tile_menu_5 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

#nj_tippoint_color {
  margin-bottom: 0px
}

#nj_nodepoint_color {
  margin-bottom: 16px;
}

#nj_treescale_show {
  margin-top: 17px;
}

#nj_tiles_show {
  margin-top: 18px; 
  margin-left: -5px
}

#nj_tiles_show_2 {
  margin-top: 18px; 
  margin-left: -5px
}

#nj_tiles_show_3 {
  margin-top: 18px; 
  margin-left: -5px
}

#nj_tiles_show_4 {
  margin-top: 18px; 
  margin-left: -5px
}

#nj_tiles_show_5 {
  margin-top: 18px; 
  margin-left: -5px
}

#nodepoint_show {
  margin-top: 18px; 
  margin-left: -5px
}

#nj_ladder {
  margin-top: 8px; 
  margin-left: -5px
}

#nj_align {
  margin-top: 10px; 
  margin-left: -60px
}

#nj_rootedge_show, #upgma_rootedge_show {
  margin-top: 8px;
  margin-left: -15px;
}

#nj_mapping_show {
  margin-top: 13px;
}

#nj_tipcolor_mapping_show {
  margin-top: 10px;
}

#nj_tipshape_mapping_show {
  margin-top: 10px;
}

#nj_tipshape_mapping {
  margin-top: -6px;
}

#nj_tiplab_scale {
  margin-top: -7px;
  margin-bottom: -10px;
}

#shiny-tab-visualization > div:nth-child(5) > div > div:nth-child(5) > div > div > div > div > div > div:nth-child(2) > div:nth-child(3) > div > div > div {
  margin-top: -7px;
}

##nj_tipcolor_mapping > div > div > div {
  margin-top: -10px;
}

#shiny-tab-visualization > div:nth-child(5) > div > div:nth-child(5) > div > div > div > div > div > div:nth-child(3) > div:nth-child(3) > div > div > div {
  margin-top: -10px;
}

#nj_geom {
  margin-top: 0px; 
  margin-left: -5px
}

#nj_tiplab_color {
  margin-bottom: 0px;
  margin-top: -7px;
}

#nj_show_branch_label {
  margin-top: 17px; 
  margin-left: -5px
}

#tippoint_show {
  margin-top: 17px; 
  margin-left: -5px
}

#nj_tiplab_show {
  margin-top: 17px; 
  margin-left: -5px
}

#nj_fruit_offset {
  position: relative; 
  top: -20px
}

#nj_layout .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#nj_div_tiles {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#nj_fruit_offset_2 {
  position: relative; 
  top: -20px
}

#nj_layout_2 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#nj_div_tiles_2 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#nj_fruit_offset_3 {
  position: relative; 
  top: -20px
}

#nj_layout_3 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#nj_div_tiles_3 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#nj_fruit_offset_4 {
  position: relative; 
  top: -20px
}

#nj_layout_4 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#nj_div_tiles_4 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#nj_fruit_offset_5 {
  position: relative; 
  top: -20px
}

#nj_layout_5 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#nj_div_tiles_5 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

.tile1 {
  position: absolute; 
  top: -17px; 
  right: 35px
}

.tile_select {
  position: absolute; 
  top: -17px; 
}

#nj_tile_color_low {
  position: relative; 
  right: -13px;
}

#nj_tile_color_low_2 {
  position: relative; 
  right: -13px;
}

#nj_tile_color_low_3 {
  position: relative; 
  right: -13px;
}

#nj_tile_color_low_4 {
  position: relative; 
  right: -13px;
}

#nj_tile_color_low_5 {
  position: relative; 
  right: -13px;
}

#nj_tile_color_high {
  position: relative; 
  right: 13px;
}

#nj_tile_color_high_2 {
  position: relative; 
  right: 13px;
}

#nj_tile_color_high_3 {
  position: relative; 
  right: 13px;
}

#nj_tile_color_high_4 {
  position: relative; 
  right: 13px;
}

#nj_tile_color_high_5 {
  position: relative; 
  right: 13px;
}

#nj_heatmap_show {
  margin-top: 18px; 
  margin-left: -5px;
}

.heatmap_picker {
  margin-top: 20px; 
  margin-left: 15px
}

#nj_nodepoint_show {
  margin-top: 18px; 
  margin-left: -5px
}

#nj_tippoint_show {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_labeltext_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: 20px; 
  margin-left: 10px
}

button#upgma_labelformat_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  border-radius: 5px; 
  margin-top: 20px
}

button#upgma_subtitle_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#upgma_footer_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#upgma_title_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#upgma_branch_label_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px; 
  margin-left: 10px
}

button#upgma_legend_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#upgma_treescale_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 20px; 
  border-radius: 5px
}

button#upgma_rootedge_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 10px; 
  margin-top: 22px; 
  border-radius: 5px
}

button#upgma_tippoint_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_nodepoint_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_heatmap_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_tile_menu {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_tile_menu_2 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_tile_menu_3 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_tile_menu_4 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

button#upgma_tile_menu_5 {
  height: 34px; 
  background: #20E6E5; 
  color: #000000; 
  margin-left: 15px; 
  margin-top: 21px; 
  border-radius: 5px
}

#upgma_tippoint_color {
  margin-bottom: 0px
}

#upgma_nodepoint_color {
  margin-bottom: 16px;
}

#upgma_treescale_show {
  margin-top: 17px;
}

#upgma_tiles_show {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_tiles_show_2 {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_tiles_show_3 {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_tiles_show_4 {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_tiles_show_5 {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_nodepoint_show {
  margin-top: 18px; 
  margin-left: -5px
}

#upgma_ladder {
  margin-top: 19px; 
  margin-left: -5px
}

#upgma_align {
  margin-top: 21px; 
  margin-left: -5px
}

#upgma_rootedge_show {
  margin-top: 20px
}

#upgma_mapping_show {
  margin-top: 20px;
}

#upgma_tipcolor_mapping_show {
  margin-top: 20px;
}

#upgma_tipshape_mapping_show {
  margin-top: 20px;
}

#upgma_geom {
  margin-top: 0px; 
  margin-left: -5px
}

#upgma_tiplab_color {
  margin-bottom: 0px;
}

#upgma_show_branch_label {
  margin-top: 17px; 
  margin-left: -5px
}

#upgma_tippoint_show {
  margin-top: 17px; 
  margin-left: -5px
}

#upgma_tiplab_show {
  margin-top: 17px; 
  margin-left: -5px
}

#upgma_fruit_offset {
  position: relative; 
  top: -20px
}

#upgma_layout .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#upgma_div_tiles {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#upgma_fruit_offset_2 {
  position: relative; 
  top: -20px
}

#upgma_layout_2 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#upgma_div_tiles_2 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#upgma_fruit_offset_3 {
  position: relative; 
  top: -20px
}

#upgma_layout_3 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#upgma_div_tiles_3 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#upgma_fruit_offset_4 {
  position: relative; 
  top: -20px
}

#upgma_layout_4 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#upgma_div_tiles_4 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

#upgma_fruit_offset_5 {
  position: relative; 
  top: -20px
}

#upgma_layout_5 .shiny-input-select.shinyjs-resettable.selectize-control.single plugin-selectize-plugin-a11y {
  margin-bottom: 16px
}

#upgma_div_tiles_5 {
  position: absolute; 
  bottom: 4px; 
  margin-left: -5px
}

.tile1 {
  position: absolute; 
  top: -17px; 
  right: 35px
}

.tile_select {
  position: absolute; 
  top: -17px; 
}

#upgma_tile_color_low {
  position: relative; 
  right: -13px;
}

#upgma_tile_color_low_2 {
  position: relative; 
  right: -13px;
}

#upgma_tile_color_low_3 {
  position: relative; 
  right: -13px;
}

#upgma_tile_color_low_4 {
  position: relative; 
  right: -13px;
}

#upgma_tile_color_low_5 {
  position: relative; 
  right: -13px;
}

#upgma_tile_color_high {
  position: relative; 
  right: 13px;
}

#upgma_tile_color_high_2 {
  position: relative; 
  right: 13px;
}

#upgma_tile_color_high_3 {
  position: relative; 
  right: 13px;
}

#upgma_tile_color_high_4 {
  position: relative; 
  right: 13px;
}

#upgma_tile_color_high_5 {
  position: relative; 
  right: 13px;
}

#upgma_heatmap_show {
  margin-top: 18px; 
  margin-left: -5px;
}

.heatmap_picker {
  margin-top: 20px; 
  margin-left: 15px
}

#upgma_heatmap_title {
  position: relative; 
  bottom: -20px
}

button#create_tree {
  position: relative; 
  left: -15px; 
  width = 100%; 
  border: none;
}

button#create_tree:hover {
  background: #3c8c56; 
  border: none;
}

#mst_date_general_select .form-control {
  height: 28px; 
  position: relative; 
  right: -22px
}

#rep_date_general {
  margin-top: 17px
} 

.form-group {
  margin-bottom: 0px;
}

#mst_operator_general_select {
  height: 28px; 
  margin-top: -15px; 
  position: relative; 
  right: -22px;
}

#rep_operator_general {
  margin-top: 0px;
}

#mst_institute_general_select {
  height: 28px; 
  margin-top: -15px; 
  position: relative; 
  right: -22px
}

#rep_institute_general {
  margin-top: 0px;
}

#mst_comm_general_select {
  margin-top: -15px; 
  border-radius: 5px; 
  position: relative; 
  right: -22px
}

#rep_comm_general {
  margin-top: 0px;
}

#rep_cgmlst_analysis {
  margin-top: 19px
}

#rep_tree_analysis {
  margin-top: 0px
}

#rep_distance {
  margin-top: 0px
}

#rep_missval {
  margin-top: 0px
}

#rep_version {
  margin-top: 0px
}

.append_table {
  margin-top: 0px; 
  margin-left: 3px
}

div#append_isodate.shiny-date-input.form-group.shiny-input-container.shiny-bound-input input.form-control.shinyjs-resettable {
  text-align: center
}

div#append_analysisdate.shiny-date-input.form-group.shiny-input-container.shiny-bound-input input.form-control.shinyjs-resettable {
  text-align: center
}

.append_table_country .btn {
  height: 32px
}

.append_table_country {
  margin-top: 23px; 
  margin-bottom: 5px
}

button#conf_meta_single {
  background: #20e6e5; 
  color: black
}

.append_table {
  margin-top: 0px; 
  margin-left: 3px
}

div#append_isodate_multi.shiny-date-input.form-group.shiny-input-container.shiny-bound-input input.form-control.shinyjs-resettable {
  text-align: center
}

div#append_analysisdate_multi.shiny-date-input.form-group.shiny-input-container.shiny-bound-input input.form-control.shinyjs-resettable {
  text-align: center
}

.append_table_country .btn {
  height: 32px
}

.append_table_country {
  margin-top: 23px; 
  margin-bottom: 5px
}

button#conf_meta_multi {
  background: #20e6e5; 
  color: black
}

#logText {
  color:black; 
  white-space: pre-wrap; 
  max-width: 100%; 
}
